# version: '1.0'

services:
  web:
    image: ngochoaitn/gpm-login-private-server:php_fpm
    depends_on:
      - mysql
    networks:
        - sail
    volumes:
      - ./.env:/var/www/html/.env
      - web_storage:/var/www/html/storage
      - ./apache/000-default.conf:/etc/apache2/sites-available/000-default.conf
      - ./php/php_large_file_upload.ini:/usr/local/etc/php/conf.d/php_large_file_upload.ini
    restart: unless-stopped
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
        - "${WEB_PORT:-80}:80"
    volumes:
        # - '.:/var/www/html'
        - './nginx:/etc/nginx/conf.d'
        - 'web_storage:/var/www/html/storage'
    networks:
        - sail
    depends_on:
        - web
  mysql:
    image: 'mysql/mysql-server:8.0'
    # ports:
    #     - '${FORWARD_DB_PORT:-3306}:3306'
    environment:
        MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
        MYSQL_ROOT_HOST: '%'
        MYSQL_DATABASE: '${DB_DATABASE}'
        MYSQL_USER: '${DB_USERNAME}'
        MYSQL_PASSWORD: '${DB_PASSWORD}'
        MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
        - ./gpmlogin.sql:/docker-entrypoint-initdb.d/gpmlogin.sql
        - db_data:/var/lib/mysql
    networks:
        - sail
    healthcheck:
        test:
            - CMD
            - mysqladmin
            - ping
            - '-p${DB_PASSWORD}'
        retries: 3
        timeout: 5s
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
        - "${PMA_PORT}:80"
    environment:
        - PMA_HOSTS=mysql
        - PMA_PORT=3306
        # - PMA_USER=${DB_USERNAME}
        # - PMA_PASSWORD=${DB_PASSWORD}
    networks:
        - sail
    restart: unless-stopped

networks:
    sail:
        driver: bridge
volumes:
    db_data:
        driver: local
    web_storage:
        driver: local
        # driver_opts:
        #   type: none
        #   o: bind
        #   device: D:\profiles